@font-face {
      font-family: "Montserrat";
      src: url("./Montserrat-Black.ttf");
      font-weight: 900;
      font-style: normal;
    }

    @font-face {
      font-family: "Montserrat";
      src: url("./Montserrat-BlackItalic.ttf");
      font-weight: 900;
      font-style: italic;
    }

    @font-face {
      font-family: "Montserrat";
      src: url("./Montserrat-ExtraBold.ttf");
      font-weight: 800;
      font-style: normal;
    }

    @font-face {
      font-family: "Montserrat";
      src: url("./Montserrat-SemiBold.ttf");
      font-weight: 600;
      font-style: normal;
    }

    @font-face {
      font-family: "Montserrat";
      src: url("./Montserrat-Medium.ttf");
      font-weight: 500;
      font-style: normal;
    }

    @font-face {
      font-family: "Montserrat";
      src: url("./Montserrat-MediumItalic.ttf");
      font-weight: 500;
      font-style: italic;
    }